.chat-main

  .main-header
    .main-header__left-box
      %h.main-header__left-box__current-group
        ジャンル：K-POP
      %h.main-header__left-box__member-list
        Member：masa
    .main-header__edit-btn
      = link_to "#", class:"btn" do
        Edit

  .form
    = form_for [@genre, @post] do |f|
      .input-box
        紹介したいMVと選出理由を書いてね！
        = f.text_field :reason, class: 'input-box__reason', placeholder: 'type a reason'
        = f.label :video, class: 'input-box__image' do
          = icon('far', 'file-video')
          = f.file_field :video, class: 'input-box__image__file'
        = f.text_field :url, class:"input-boc__url", placeholder:"type a url"
        = f.submit 'Send', class: 'submit-btn'
        
  .posts
    .post
      .post__upper-info
        %p.post__upper-info__talker
          masa
        %p.post__upper-info__date
          2019/11/20(Wed) 17:43:01 
      %p.post__text
        選出理由:  ただ可愛いだけではなく、ダンスもキレッキレっで、歌詞もポジティブなので好きです。
        = image_tag('wannabe.jpg', options = {alt: 'wannabe', height: '112.5px', width: '200px', class: 'mv'})