.chat-side
  .side-header
    .side-header__title
      = image_tag('logo-mybias.png', options = {alt: 'mybias', height: '80px', width: '240px', class: ''})
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('far', 'edit',class: "icon")
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .genres
    .genre
      %p.genre__group-name
        English
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        한국
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        日本語
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        中文
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        ภาษาไทย
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        हिंदी
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        اللغة العربية
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        русский язык
      %p.genre__latest-message
        まだメッセージがありません
    .genre
      %p.genre__group-name
        その他
      %p.genre__latest-message
        まだメッセージがありません
